:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
  background: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  align-items: start;
  justify-content: start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  /* position: fixed; */
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 6.5vh;
}

.navbar .navbar-contents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

/* .navbar .navbar-contents .navbar-item {
  float: left;
  position: absolute;
  left: 11.63%;
  top: 20%;
  padding-left: 0;
  padding-top: 0;
} */

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10vw;
  height: 6.5vh;
}

.landing-page-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.logo {
  width: 2.5vw;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.navbar .navbar-contents .navbar-item .navbar-item-name {
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  /* font-size: larger; */
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 1.5vw;
}

.input-and-button {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  top: 13%;
  left: 11.63%; /* Input container takes 76.74% of screen width, so there should be 11.63% on each side*/
}

.input-container {
  /* We should enforce some minimum height for this; otherwise, too compressed on mobile*/
  width: 76.74vw; /* 76.74% of screen width */
  height: 37.79vh; /* 37.79% of screen height */
  background: #1a1a1a;
  border-radius: 8px;
  outline: #333333 solid 1px;
}

.wrapper .text-input {
  display: flex;
  border-top: #333333 solid 1px;
}

.language-bar {
  list-style: none;
}

.language-bar,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2vw;
  padding-top: 6.7px;
  padding-bottom: 6.7px;
}

.language-bar .from-languages select {
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  color: #2a6df4;
  /*position: absolute;
  left: 3%;*/
}

.language-bar .to-languages select {
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  color: #2a6df4;
  position: absolute;
  left: 53%;
  padding: 0.5rem 1.25rem;
}

.language-bar .from-languages select:hover {
  background: rgba(00, 122, 255, 0.35);
  border-radius: 30px;
}

.language-bar .to-languages select:hover {
  background: rgba(00, 122, 255, 0.35);
  border-radius: 30px;
}

.text-input textarea {
  height: 31.35vh;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 22px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 29px;
  padding-bottom: 29px;
  resize: none;
}

.text-input .to-text {
  border-left: #333333 1px solid;
}

.translate-text-button button {
  width: 76.74vw;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 14px;
  margin-top: 14.5px;
  font-size: 17.5px;
  font-weight: 600;
  font-family: inherit;
  background-color: #2a6df4;
  cursor: pointer;
  transition: border-color 0.25s;
}

.translate-text-button button:hover {
  border-color: #646cff;
}

.translate-text-button button:focus,
.translate-text-button button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .translate-text-button button {
    background-color: #f9f9f9;
  }
} */

@keyframes glow {
  0%,
  50% {
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.4));
  }
  100% {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
  }
}

.to-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-text {
  width: 100%;
}

/* Loading Icon */
.loading-icon {
  width: 10vw; /* Set your desired width */
  /* filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4)); */
  animation: glow 3.5s infinite reverse;
}

.loading-icon-hidden {
  display: none;
}

.divider {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 1px solid #262626;
}

.error-highlighting-section {
  text-align: left;
  /* margin: 0 0 0 12vh; */
  width: 76.74vw;
  line-height: 5vh;
}

.source-text-title,
.target-text-title {
  margin: 0 0 2vh 0;
}

.highlight {
  line-height: 7vh;
  /* background-color: red; */
  /* position: absolute; */
  border-radius: 5px;
  /* top: 0; */
  /* left: 0; */
  /* padding: 1vh 1vw 1vh 1vw; */
  /* mix-blend-mode: lighten; */
  /* display: inline; */
  /* background-color: #2a6df4; */
}

.highlight-selected {
  outline: white solid 2px;
}

.txt {
  display: flex;
  position: relative;
  padding: 1vh 1vw 1vh 1vw;
  width: 100%;
  height: 100%;
}

.error-tooltip-container {
  display: none;
  position: absolute;
  z-index: 10;
  /* display: flex; */
  background-color: #222222;
  padding: 1vh 1vw 1vh 0vw;
  border-radius: 8px;
  width: fit-content;
  outline: #333333 solid 1px;
}

.error-tooltip:hover {
  /* display: block; */
}

.error-tooltip {
  padding: 0.5vh 3vw 1vh 3vw;
}

.error-tooltip > h3 {
  display: inline;
}

.error-tooltip > p {
  padding: 0vh 0vw 0vh 0vw;
  margin: 0vh 0vw 0vh 0vw;
}

/* Error Legend Section */

.error-legend-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10vw; /* Optional: Adjust the padding as needed */
}

.error-legend-section ul {
  display: flex;
  list-style-type: none; /* Optional: Removes bullet points */
  margin: 0;
  padding: 0; /* Optional: Removes default padding */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error-legend-section li {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust space between items */
}

.color-label {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  margin-right: 5px; /* Adjust space between label and text */
}

/* Edit Context */

.edit-context-section {
  text-align: left;
  /* margin: 0 0 0 12vh; */
  width: 76.74vw;
  line-height: 5vh;
}

.suggestion-section {
  background-color: #1a1a1a;
  padding: 0.5vh 3vw 0.5vh 3vw;
  border-radius: 8px;
  outline: #333333 solid 1px;
}

/* Rephrase Section */

.rephrase-section {
  text-align: left;
  /* margin: 0 0 0 12vh; */
  width: 76.74vw;
  line-height: 5vh;
}

.rephrase-section > button {
  margin: 2vh 2vw 1vh 2vw;
  padding: 1vh 3vw 1vh 3vw;
  border-radius: 30px;
  background-color: #222222;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
}

.rephrase-section > button:hover {
  background-color: #1b1b1b;
}

.rephrase-section > button:active {
  background-color: #191919;
}

/* Accept Translation Section */

.accept-translation-section {
  text-align: left;
  /* margin: 0 0 0 12vh; */
  width: 76.74vw;
  line-height: 5vh;
}

.accept-translation-section > button {
  padding: 1vh 3vw 1vh 3vw;
  width: 100%;
  border-radius: 8px;
  background-color: #2a6df4;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.accept-translation-section > button:hover {
  background-color: #2460d7;
}

.accept-translation-section > button:active {
  background-color: #1d4dae;
}

/* Send Feedback Section */
.send-feedback {
  margin: 2vh 0 0vh 0;
}

.send-feedback > a {
  /* color: white; */
  font-weight: 500;
  font-size: small;
  font-style: italic;
  text-decoration: underline;
}

.slider {
  width: 100%;
  margin: 20px 0;
}

.machine--translation:focus {
  outline: none;
}

.machine--translation > span:hover {
  outline: 2px solid #ffffff;
  /* outline-offset: 0.1rem; */
}

.highlight {
  padding: 0 2px;
  user-select: none;
}

.error-tooltip-container {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.error-tooltip {
  position: absolute;
  z-index: 10;
  /* display: flex; */
  background-color: #222222;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 8px;
  width: fit-content;
  outline: #ffffff28 solid 2px;
  line-height: 6vh;
}

.span-dropdown {
  position: absolute;
  z-index: 10;
  /* display: flex; */
  background-color: #222222;
  /* padding: 2vh 2vw 2vh 2vw; */
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  border-radius: 8px;
  width: fit-content;
  outline: #ffffff28 solid 2px;
  line-height: 0.1vh;
}

.span-dropdown > ul {
  padding: 0 0 0 0;
  margin: 0;
}

.span-dropdown > ul > li {
  padding: 0 0 0 0;
  font-size: small;
}

.dropdown-selection {
  width: 100%;
}

.dropdown-selection > li {
  padding: 0 0 0 0;
  font-size: small;
  padding: 0.8vh 1vw 0.8vh 1vw;
}

.dropdown-selection p {
  font-weight: bold;
  /* text-align: center; */
  padding-left: 0.5rem;
  width: 100%;
}

.dropdown-selection li:hover {
  /* text-align: center; */
  font-weight: bold;
  /* color: greenyellow; */
}

.dropdown-selection li:hover {
  /* text-align: center; */
  font-weight: bold;
  color: var(--hover-color); /* Use the custom property */
  cursor: pointer;
}

.dropdown-selection > hr {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  border: 1px solid #ffffff22;
}

.dropdown-divider {
  /* margin-top: 5vh; */
  /* margin-bottom: 5vh; */
  border: 1px solid #262626;
}

/* Post-Edit Section */

.post-edit-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */

  /* justify-content: space-evenly; */

  /* justify-content: center; */
  /* width: 100%; */
}

.post-edit-additions {
  color: greenyellow;
  text-decoration: underline;
}

.post-edit-deletions {
  color: rgb(255, 34, 0);
  text-decoration: line-through;
}

.post-edit-section > h3 {
  flex-basis: 20%;
}

.post-edit-section > .insert-span-button {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: auto;
  /* margin-right: auto; */
}

.post-edit-section > .insert-span-button-active {
  background-color: white;
  color: black;
}

.custom-correction-button:hover,
.insert-span-button:hover {
  /* background-color: #1e1e1e; */
  /* color: rgb(200, 200, 200); */

  background-color: #333333;
  color: rgb(255, 255, 255);
}

.custom-correction-button-active:hover,
.insert-span-button-active:hover {
  /* background-color: #d8d8d8; */
  /* color: rgb(35, 35, 35); */

  background-color: #dddddd;
  color: rgb(0, 0, 0);
}

/* .custom-correction-button:active,
.insert-span-button:active {
  background-color: #1e1e1e;
} */

.post-edit-section > .custom-correction-button {
  margin: 0vh 0vw 0vh 0vw;
}

.post-edit-section > .custom-correction-button:focus {
  background-color: white;
  color: black;
}

.post-edit-translation-field {
  flex-basis: 100%;
  font-size: medium;
  width: 100%;
  height: 20vh;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: #333333 solid 1.7px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  resize: none;
  overflow: hidden;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  margin: 2vh 0vw 0vh 0vw;
}

.post-edit-translation-field:focus {
  outline: none;
}

.custom-correction-button,
.insert-span-button {
  margin: 2vh 2vw 1vh 2vw;
  padding: 1vh 3vw 1vh 3vw;
  border-radius: 7px;
  background-color: #222222;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
}

/* Scoring Slider Section */

.scoring-section {
  display: flex;
  /* height: 60vh; */
  flex-direction: column;
  justify-content: flex-start;

  /* justify-content: space-between; */
  /* align-items: center; */

  flex-wrap: wrap;
  gap: 10px;
  /* padding: 10px; */
}

.span-score-section,
.overall-score-section {
  flex: 1;
  max-width: 48%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Text color for contrast */

  /* background-color: red; */
}

.overall-score-section {
  display: flex;
  flex-direction: column;
}

.span-severity-dropdown-section > select {
  /* background-color: white; */
  border-radius: 8px;
  width: 60%;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  font-size: 1rem;
  text-align: center;
}

.span-severity-dropdown-section {
  /* padding: 0vh 0vw 12% 0vw; */
}

.sliders-row {
  display: flex;
  justify-content: space-between;
  padding: 10vh 0 0 0;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 10px;
}

.span-scores-display {
  /* text-align: center; */
}

.slider-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 35vw;
}

.slider-section > h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 0.9rem;
}

.slider-section > .score-display {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

.slider-section > .span-slider {
  width: 70%;
}

.span-slider {
  flex-grow: 1;
  cursor: pointer;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 7px; /* Specified height */
  background: rgb(75, 75, 75);
  /* background: linear-gradient( */
  /* to right, */
  /* #4caf50, */
  /* #f44336 */
  /* ); Gradient background */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Slightly transparent */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.span-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: #ffffff; /* Green background for the thumb */
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Cursor on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .scoring-section {
    flex-direction: column;
    align-items: center;
  }

  .span-score-section,
  .overall-score-section {
    max-width: 100%;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
  }
}

.body {
  padding: 0 10vw 0 10vw;
}
